.info-box{
    background-color: #111728;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    color: #bbb;
    border-radius: 12px;
    width: fit-content;
}
.info-name{
    padding: 4px 0;
    padding-right: 20px;
    border-right: solid 1px #555;
}
.info-value{
    padding: 4px 0;
    padding-left: 20px;
}