.repository-card {
    background: linear-gradient(95deg, #111729 3%, #1d1b48 99.61%);
    border: none;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.repository-card h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}
.repository-card p {
    font-size: 0.9rem;
    color: #bbb;
    margin-top: 0.5rem;
}
.repository-details {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    position: relative;
}
.repository-details span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    gap: 0.2rem;
    color: #bbb;
}
.no-license {
    position: absolute;
    z-index: -1;
}
.repository-details p {
    margin: 0;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: #bbb;
}