.user-info-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    position: relative;
    width: 100%;
}
.image-container{
    width: 120px;
    height: 120px;
    background-color: #20283B;
    padding: 12px;
    border-radius: 24px;
    overflow: hidden;
    flex-shrink: 0;
    position: absolute;
    top: -80px;
}
.logo-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.info-container{
    margin-left: 18%;
    display: flex;
    gap: 20px;
}